* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
    color: #eee;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 100%;
    height: 100%;
}

h1 {
    margin-left: 1em;
    margin-bottom: 1em;
}

#status-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;            /* Footer height */
    border-top: 1px solid #888;
    line-height: 2em;
    vertical-align: middle;
    color: #ccc;
}

#status-bar p {
    line-height: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
}


.checkbox-container {
    display: block;
}

div.tooltip {
    position: absolute;
    text-align: center;
    font: 22px sans-serif;
    background: gray; /* Change the background color to gray */
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    padding: 2px;
}

#renderButton, #resetButton {
    font-size: 16px; 
    padding: 10px 20px; 
    margin-right: 10px;
} 