* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
    color: #eee;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 100%;
    height: 100%;
}

h1 {
    margin-left: 1em;
    margin-bottom: 1em;
    font-weight: lighter;
}

.filter-href {
    color: #fff;
}

#sidebar {
    padding: 12em;
}
.checkbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    max-height: 10vh;
    margin-bottom: 8px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    font: 22px sans-serif;
    background: gray; /* Change the background color to gray */
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    padding: 2px;
}

#renderButton,
#resetButton {
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent; /* Transparent background */
    color: white; /* Text color */
    border: 2px solid white; /* White border */
    cursor: pointer;
    font-weight: bold; /* Bold text */
    border-radius: 40px; /* Border radius for a cell shape */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#renderButton:hover,
#resetButton:hover {
    background-color: #4e9c5f; /* Color on hover */
}
#sidebar {
    width: 250px;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #11151c;
    border-radius: 17px;
    height: 575px;
}

#content {
    flex: 1;
    padding: 20px;
}

#mainContent {
    flex: 1;
    padding: 20px;
}

/* trying to make checkbox fancy*/

.checkbox-container {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 8px;
}

.checkbox-container label {
    position: relative;
    cursor: pointer;
    font-weight: normal; /* Normal text weight by default */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animation transitions */
}

.checkbox-container label:hover {
    background-color: lightgreen; /* Background color on hover */
    color: black; /* Text color on hover */
}

.checkbox-container input {
    position: absolute;
    cursor: pointer;
}

.checkbox-container input:checked + label {
    background-color: lightgreen; /* Background color when selected */
    color: black; /* Text color when selected */
    font-weight: bold; /* Bold text when selected */
}

.checkbox-container input:checked + label:hover {
    background-color: lightgreen; /* Keep the background color on hover when selected */
}

.checkbox-container input:disabled + label {
    opacity: 0.5; /* Reduce opacity for disabled checkboxes */
}

.checkbox-container input:disabled + label:hover {
    background-color: transparent; /* No background on hover for disabled checkboxes */
}

.checkbox-container input:not(:checked) + label:active {
    background-color: lightcoral; /* Background color when actively unselecting */
    color: white; /* Text color when actively unselecting */
}

.checkbox-container input {
    position: absolute;
    cursor: pointer;
}

.checkbox-container input.carTypeCheckbox {
    margin-left: 5px; /* Add margin to the right of the checkbox toggle */
}


/* */

  .checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .checkbox-wrapper-22 .switch input {
    display:none;
  }

  .checkbox-wrapper-22 .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-22 .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  .checkbox-wrapper-22 input:checked + .slider {
    background-color: #66bb6a;
  }

  .checkbox-wrapper-22 input:checked + .slider:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
  }

  .checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
  }

  input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  